.tools {
  border: 3px solid #0599F7;
  border-radius: 50%;
  padding: 10px 14px;
  width: 50px;
  height: 50px;
  background-color: white;
  color: #0599F7;
  margin: 3px auto 3px auto;
  transition: 0.2s;
}


.finalTool {
  margin-bottom: 60px;
}

#penButton:hover{
  background-color: #06d6a0;
  border-color: #06d6a0;
  color: white;
}

.penButtonActive {
  background-color: #06d6a0;
  border-color: #06d6a0;
  color: white;
}

#dragnDropButton:hover{
  background-color: #ffa62b;
  border-color: #ffa62b;
  color: white;
}
.dragnDropButtonActive{
  background-color: #ffa62b;
  border-color: #ffa62b;
  color: white;
}

#clearWhiteboardButton:hover{
  background-color: #ff595e;
  border-color: #ff595e;
  color: white;
}

#shareButton:hover{
  background-color: #ffe066;
  border-color: #ffe066;
  color: white;
}

.shareTooltipClass > .tooltip-inner {
  position: relative;
  margin-left: 7px;
  background: transparent;
}

.shareTooltipTextClass {
  font-size: 11px;
  color: white;
  font-weight: normal;
}

.shareTooltipTextClassClicked {
  font-size: 14px;
  color: #1A1A1A;
  font-weight: bolder;
}

#tutorialButton {
  font-size: 28px;
  font-weight: 600;
}

#tutorialButton:hover {
  background-color: #832161;
  border-color: #832161;
  color: white;
}


.jello-horizontal {

  -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
}



.toolsExpand {
  -webkit-animation: rotate-135-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: rotate-135-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate-135-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes rotate-135-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

.toolsContract {

  -webkit-animation: rotate-135-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: rotate-135-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-135-ccw {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@keyframes rotate-135-ccw {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}


/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

