.editor {
  transition: box-shadow 0.15s;
  padding-bottom: 12px;
  border-radius: 10%;
}


.selected-editor{
  /*outline: 3px solid #f94144BF;*/
  box-shadow: 2pt 6pt 10pt 1pt rgba(230,230,230,0.4);
}

.fr-element {
  padding: 20px;
}

.fr-placeholder {
  /*{add here the css method for displacing content}*/
}

.inner-content-unclickable > div {
  pointer-events: none;
}
